body {
  margin: 0;
  background-color:rgb(106, 196, 232);
}

.header {
  margin-top: 50px;
}

.centered {
  text-align: center;
}

.container {
  color: rgb(255,255,255);
  border-radius: 4px;
}

.result {
  margin-top: 20px;
}

a, a:hover {
  color: white;
}

.bottom {
  margin-top: 20px;
}

#result-box {
  text-align: left;
  margin: 0 auto;
  width: 500px;
  font-family: monospace;
}
